.app__header {
    display: flex;
    color: white;
    font-family: var(--font-base);
}

.app__header-info {
    display: flex;
    flex: 4;
    flex-direction: column;

}

.app__header-info .header__info-title {
    font-weight: 500;
    font-style: italic;
    font-size: 96px;
}

.app__header-info .header__info-desc {
    margin: 2rem 0;
    line-height: 25px;
    font-size: 18px;
}

.app__header-image {
    display: flex;
    flex: 6;
    margin-left: 0;
    justify-content: flex-end;
}

.app__header-image img {
    width: 90%;
}