.app__navbar {
  color: white;
  font-family: var(--font-base);
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.app__navbar-menu {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu-logo {
  font-size: 110px;
  font-weight: 700;
  font-style: italic;

  cursor: pointer;
}

.navbar__menu-links ul {
  display: flex;
  list-style: none;
  font-style: italic;
  color: white;
}

.navbar__menu-links ul li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-image {
  width: 100vw;
}

.app__navbar-image img {
  width: 100%;
}

.app__nav-btnlogout button {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: white;
  font-style: italic;
}
